<h2>All Historical Landmarks <a href="/landmarks/new" style="font-size: 16px">(add new landmark)</a></h2>

<!-- add content here -->
<% @landmarks.each do |landmark| %>
<ul>
  <li><%= landmark.name %> - <%= landmark.year_completed %> <a href="/landmarks/<%= landmark.id %>">(link)</a></li>
</ul>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
