<h2>Create New Landmark</h2>

<!-- add content here -->
<form action="/forms" method="post">
  <label for="new_landmark">Name:</label>
  <input type="text" id="new_landmark" value="" name="landmark[name]">
  <label for="year_completed">Year Completed:</label>
  <input type="text" id="year_completed" value="" name="landmark[year_completed]"></br>
  </br>
  <input type="submit" value="Submit">
</form>
</br>
<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
