<h1>Edit Figure</h1>
<form>
  <h4>Create or Add Landmarks</h4>
    <label for="landmark_name">Name:</label>
    <input type="text" id="landmark_name" value="" name="landmarks[]">

  <h4>Create or Add Titles</h4>
    <label for="title_name">Name:</label>
    <input type="text" id="title_name" value="" name="titles[]">

</form>
