<h1>Figures <a href="/figures/new" style="font-size: 16px">(add new figure)</a></h2>
<% @figures.each do |figure| %>
  <ul>
    <li><%= figure.name %> <a href="/figures/<%= figure.id %>">(link)</a></li>
  </ul>
<% end %>
